body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #444;
  color: #e4e4e4;
  margin: 25px 75px;
}

a {
  color: #e39777;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  height: 35px;
  box-sizing: border-box;
}

/* Tabelle */
table {
    border-collapse: collapse;
    width: 100%;
  }
  
td, th {
  border: 1px solid #777;
  padding: 4px;
}
  
tr:nth-child(even){background-color: #555;}

tr:hover {background-color: #666;}

th {
  padding-top: 4px;
  padding-bottom: 5px;
  text-align: left;
  background-color: #4682B4;
  color: #e4e4e4;
}

/* Navbar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: #e4e4e4;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4682B4;
}