:root {
  --main-bg-color: #2D2D2D;
  --bg-color: #1E1E1E;
  --hover-bg-color: #111111;
  --main-color: #3465A4;
  --mark-color: #4E9A06;
  --link-color: #BEC030;
  --link-hover-color: #9ac0df;
  --link-visited-color: #778500;
  --text-color: #e4e4e4;
}

body {
  font-family: monospace;
  font-size: medium;
  background-color: var(--main-bg-color);
  color: var(--text-color);
  margin: 25px 75px;
}

tbody tr td a,
tbody tr td a:active {
  color: var(--link-color);
  text-decoration: none
}

tbody tr td a:hover {
  color: var(--link-hover-color);
  text-decoration: underline
}

tbody tr td a:visited {
  color: var(--link-visited-color);
  text-decoration: none
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

input {
  height: 40px;
  box-sizing: border-box;
  background-color: var(--bg-color);
  color: var(--text-color);
  border: none;
}

input, select, textarea, button{font-family:inherit;}

.searchbox {
  padding-left: 10px;
}

.button:hover {
  background-color: #111;
}

.episodeColored {
  color: var(--mark-color);
}

/* Tabelle */
table {
    border-collapse: collapse;
    width: 100%;
    border: none;
  }
  
td, th {
  padding: 6px;
  border: none;
}

tr {
  background-color: var(--bg-color);
}
  
tr:hover {
  background-color: var(--hover-bg-color);
}

th {
  padding-top: 4px;
  padding-bottom: 5px;
  text-align: left;
  background-color: var(--main-color);
  color: var(--text-color); 
}

thead {
  height: 30px;
}

/* Navbar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--bg-color);
  font-size: inherit;
}

li {
  float: left;
}

li a {
  display: block;
  color: var(--text-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: x-large;
}

li a:hover:not(.active) {
  background-color: var(--hover-bg-color);
}

.active {
  background-color: var(--main-color);
}